$black-primary: #000000;

$blue-primary: #263238;
$blue-secondary: #2a3246;

$gray-primary: #8f95a5;
$gray-secondary: #939393;
$gray-tertiary: #546269;

$white-primary: #ffffff;
$white-secondary: #c4c4c4;

$bg-secondary: #f5f5f5;
$bg-tertiary: #eeeeee;
